.show{
	display: block;
}

.hide{
	display: none;
}

.circleImg {
	height: 25%;
	width: 25%;
	border-radius: 50%;
}

.scalePic {
	height: 40%;
	width: 40%;
	
}

body {
    background: #E0E7E9;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

#container {
	width: auto;
	margin: auto;
	text-align: center;
	background: #E0E7E9;
	height: 100%;
	width: 100%;
	position: absolute;
}


#header {
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
	height: 50px;
	color: #354649;
	float: none;
	font-size: 32px;
	font-family: 'Alegreya Sans', sans-serif; font-weight: 700;
	text-align: center;
}

#navBar {
	background: #E0E7E9;
	float: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif; font-weight: 700;
	text-align: center;
	display: inline-block;
}
#navBar ul {
	margin: 0 auto;
	padding: 0 24px;
    list-style-type: none;
	border-bottom: 2px solid #A3C6C4;
    border-top: 2px solid #A3C6C4;
	position: relative;
	display: inline-block;
}

#navBar li {
    float: left;
}

#navBar li a {
    color: #354649;
    padding: 14px 16px;
    text-decoration: none;
	display: inline-block;
}

#navBar li a:hover {
    color: #6C7A89;
	cursor:pointer;
}

#content {
	max-height: 900px;
	max-width: 800px;
	height: auto;
	width: auto;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif; font-weight: 400;
	color: #6C7A89;
	position: relative;
}

#resume {
	text-align: left;
	margin: 0 auto;
	height: 80%;
	width: 80%;
	position: relative;
}

#portfolio {
	text-align: left;
	margin: 0 auto;
	height: 80%;
	width: 80%;
	position: relative;
}



#home {
	text-align: left;
	margin: 0 auto;
	height: 80%;
	width: 80%;
	position: relative;
}

#about {
	text-align: left;
	margin: 0 auto;
	height: 80%;
	width: 80%;
	position: relative;
}

#contact {
	text-decoration:none;
	text-align: left;
	margin: 0 auto;
	height: 80%;
	width: 80%;
	position: relative;
}
#footer {
	text-align: left;
	height: 80%;
	width: 80%;
	position: relative;
}

h1 {
	margin: 0 auto;
	padding: 0;
    color: navy;
	display: inline-block;
}





