.show{
	display: block;
}

.hide{
	display: none;
}

.circleImg {
	height: 25%;
	width: 25%;
	border-radius: 50%;
}

.scalePic {
	float: left;
	height: 25%;
	width: 25%;
	display:inline;
}
body {
    background: white;
	margin: 0;
	padding-bottom: 50px;
	text-align: center;
}

#container {
	width: auto;
	margin: auto;
	text-align: center;
	background: white;
	height: auto;
	width: auto;
}

#header {
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
	height: 50px;
	color: #354649;
	float: none;
	font-size: 32px;
	font-family: 'Alegreya Sans', sans-serif; font-weight: 700;
	text-align: center;
}

#navBar {
	background: white;
	float: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif; font-weight: 700;
	text-align: center;
	display: inline-block;
}
#navBar ul {
	margin: 0 auto;
	padding: 0 24px;
    list-style-type: none;
	border-bottom: 2px solid #A3C6C4;
    border-top: 2px solid #A3C6C4;
	position: relative;
	display: inline-block;
}

#navBar li {
    float: left;
}

#navBar li a {
    color: #354649;
    padding: 14px 16px;
    text-decoration: none;
	display: inline-block;
}

#navBar li a:hover {
    color: #6C7A89;
	cursor:pointer;
}

#content {
	width: auto;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif; font-weight: 400;
	color: #6C7A89
}

#resume {
	text-align: left;
	margin: 0 auto;
	width:50%;
	
}

#portfolio {
	text-align: left;
	margin: 0 auto;
	width:auto;
}

#proj {
	float: center;
	margin: 0 auto;
	width:50%;
	overflow: hidden;
}


#about {
	text-align: left;
	margin: 0 auto;
	width:30%;
}

#contact {
	text-decoration:none;
	text-align: left;
	margin: 0 auto;
	width:50%;
}

h1 {
	margin: 0 auto;
	padding: 0;
    color: navy;
	display: inline-block;
}





